#include "cat.h"



IDR_VERSION VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x2L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Programmed in assembly with Easy Code\0"
            VALUE "FileDescription", "Easy Code Masm classic project\0"
            VALUE "FileVersion", "1.00.0.0001\0"
            VALUE "InternalName", "cat\0"
            VALUE "LegalCopyright", "Copyright © 2018 \0"
            VALUE "OriginalFilename", "cat.exe\0"
            VALUE "ProductName", "cat\0"
            VALUE "ProductVersion", "1.00.0.0001\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
